body {

}

#content {
     margin-left: 20px;
     margin-right: 20px;
}

#postTable{
     width:100%;
     border-radius:5px;
     background-color:#ccd6dd;
}

#postTable td{
     padding-left:20px;
     padding-bottom:20px;
}
