body {

}

#content {
     margin-left: 20px;
     margin-right: 20px;
}

#postTable{
     border-radius:5px;
     background-color:#ccd6dd;
     width:100%;
     margin-bottom:10px;
}

#postTable td{
     padding-left:10px;
     padding-bottom:10px;
}

.un{
     width:15%;
}

.post{
    width:70%;
}

.reply{
     width:15%;
     padding-right:5px;
}
